@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

:root {
    --color-fondo-claro: #f9f6f2; 
    --color-rosado-claro:#fde1f4;
}

main {
   background-color: var(--color-fondo-claro) !important;
}

header,
h2,
h1 {
    font-family: "loved by the king";

}

#lugares {
    
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1 {
    font-size: 4vw !important;
    font-weight: 700 !important;
    font-style: italic;
}

h3 {
    font-family: "loved by the king";
}

p {
    font-family: "Kedebideri";
    font-size: 1.1em
}


.navbar.bg-primary {
    background-color: var(--color-fondo-claro) !important;
}

.text-white.bg-primary{
    background-color: var(--color-fondo-claro) !important;
}

.col-md-6.bg-primary {
     background-color: var(--color-rosado-claro) !important;
}

.text-center.bg-secondary {
    background-color: #ffea9e !important;
}


.btn.btn-secondary {
    background-color: #fde1f4;
}

.bi.text-primary {
    color: #b0d6e9 !important;
}

.container.bg-primary {
    background-color: #eedef9 !important;
}

.container.bg-secondary {
    background-color: #b0d6e9 !important;
}

.container.bg-danger {
    background-color: #fbd09e !important;
}